// * {
//   outline: 1px solid orange;
// }

body {
  text-align: center;
  margin-top: 20px;
}

h1 {
  font-size: 300px;
  color: #e11b22 !important;
}

h2 {
  margin: 24px 0;
}

ul {
  list-style-type: none;
  span {
    display: inline-block;
  }
}

a {
  color: #e11b22;
}

.content p {
  margin: 0 4rem;
  text-align: left;
}

#intro {
  margin: 1.5rem auto 3rem auto;
  max-width: 920px;
}

.columns {
  margin-left: auto;
  margin-right: auto;
  max-width: 920px;
}

.icon {
  color: #50301a;
}

footer {
  background: white !important;
  padding: 9rem 0 0 0 !important;
  font-size: 16px;
  a {
    color: #999;
    &:hover {
      color: #e11b22;
    }
  }
}

.inspired_by {
  color: #999;
  font-size: 16px;
}

@media (max-width: 800px) {
  .content p {
    margin: 0 ;
    text-align: left;
  }
}

@media (max-width: 1023px) {
  .content p {
    text-align: left;
  }
}

@media (min-width: 1025px) and (min-height: 1000px) {
  .logo {
    margin-top: 20vh;
  }
}
